<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>App</title>
  </head>
  <body>
      <header>
          {{>navbar}}
    </header>
    <div>
        {{{body}}}
    </div>
    <header>
          {{>footer}}
    </header>
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.8.2/dist/alpine.min.js" defer></script>
  </body>
</html>